.navbar-dark {
    background-color: #3c415c !important;
}

.dropdown-menu {
    background-color: #d6d2d2;
}

.dropdown-item:hover {
    background-color: #f0eeee;
    color: #212529;
}

.dropdown-item:hover {
    background-color: #f0eeee;
}

hr {
    margin-top: 2px;
    margin-bottom: 2px;
}

#rete {
    width: 100hh;
    height: 100vh;
    background-color:rgb(42, 42, 42);
}

.node {
    background-color: rgb(61, 64, 67) !important;
    border-width: 2px !important;
    border-color: rgb(58, 101, 158) !important;
    border-radius: 10px !important;
}

.node .title {
    background-color: rgb(58, 101, 158) !important;
    border-radius: 8px 8px 0px 0px !important;
}


.no-padding {
    padding: 0px !important;
}

.margin {
    margin-left: 8px;
}

.void {
    border-radius: 0px !important;
}



.node.coordinate2d, .node.coordinate3d, .node.number, .node.string {
    border-color: rgb(48, 101, 63) !important;
}

.node.coordinate2d .title, .node.coordinate3d .title, .node.number .title, .node.string .title {
    background-color: rgb(48, 101, 63) !important;
}

.node.begin, .node.end {
    border-color: rgb(78, 79, 83) !important;
}

.node.begin .title, .node.end .title {
    background-color: rgb(78, 79, 83) !important;
}

.node.selected {
    border-color: rgb(183, 187, 0) !important;
}