/* Html */

.no-padding {
    padding: 0px !important;
}

.margin {
    margin-left: 8px;
}

hr {
    margin-top: 2px;
    margin-bottom: 2px;
}


/* Navbar */

.navbar-dark {
    background-color: #3c415c !important;
}

.navbar-light-dark {
    background-color: #494e6d !important;
}

.dropdown-menu {
    background-color: #d6d2d2;
}

.dropdown-item:hover {
    background-color: #f0eeee;
    color: #212529;
}

.dropdown-item:hover {
    background-color: #f0eeee;
}


/* Input */

input[type=number], input[type=text] {
    background-color: #d6d2d2;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
}


/* Rete */

#rete {
    width: 100hh;
    height: 100vh;
    background-color:rgb(42, 42, 42);
}


/* Node*/

.node {
    background-color: rgb(61, 64, 67) !important;
    border-width: 2px !important;
    border-color: rgb(58, 101, 158) !important;
    border-radius: 10px !important;
}

.node .title {
    background-color: rgb(58, 101, 158) !important;
    border-radius: 8px 8px 0px 0px !important;
}

.node.coordinate2d, .node.coordinate3d, .node.number, .node.string {
    border-color: rgb(48, 101, 63) !important;
}

.node.coordinate2d .title, .node.coordinate3d .title, .node.number .title, .node.string .title {
    background-color: rgb(48, 101, 63) !important;
}

.node.begin, .node.end {
    border-color: rgb(78, 79, 83) !important;
}

.node.begin .title, .node.end .title {
    background-color: rgb(78, 79, 83) !important;
}

.node.selected {
    border-color: rgb(183, 187, 0) !important;
}

.input-title {
    line-height: 18px !important;
}


/* Socket */

.socket.output {
    margin-right: -9px !important;
}
.socket.input {
    margin-left: -9px !important;
}

.socket {
    width: 18px !important;
    height: 18px !important;
    background-color: rgb(61, 64, 67) !important;
    border-color:rgb(58, 101, 158) !important;
    border-width: 3px !important;
}

.socket:hover {
    background-color: rgb(78, 79, 83) !important;
}

.socket.coord2d, .socket.coord3d, .socket.number, .socket.string {
    border-color:rgb(48, 101, 63) !important;
}

.socket.void {
    width: 16px !important;
    height: 16px !important;
    border-radius: 0px !important;
    border-width: 2px !important;
}

.socket.void.output {
    margin-right: -8px !important;
}
.socket.void.input {
    margin-left: -8px !important;
}


/* Connection */

.connection .main-path {
    stroke-width: 3px !important;
}

.connection.output-coord2d .main-path, .connection.output-coord3d .main-path, .connection.output-number .main-path, .connection.output-string .main-path {
    stroke: rgb(48, 101, 63) !important;
}

.connection.output-void .main-path {
    stroke: rgb(58, 101, 158) !important;
}

.node-editor div :first-child {
    stroke: rgb(183, 187, 0) !important;
}


/* Sidebar */
.sidebar {
    position: fixed;
    width: 70px;
    height: calc(100vh - 56px);
    margin-top:56px;
    vertical-align: top;
    align-items: initial;
}

.sidebar-sticky ul {
    margin-top: 10px;
}

.active-item .img-box {
    background-color: rgb(192, 220, 243);
}

.img-box {
    width: 40px;
    height: 40px;
    line-height:34px;

    background-color:#d6d2d2;
    border-radius: 20px;

    padding: 0px !important;
    margin-bottom:10px;

    text-align: center;
    vertical-align: middle;
}

.img-box:hover {
    background-color:#f0eeee;
}
