#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#myTable tr.selected {
    background-color: #666666;
}

/* Html */

.no-padding {
    padding: 0px !important;
}

.margin {
    margin-left: 8px;
}

hr {
    margin-top: 2px;
    margin-bottom: 2px;
}

.bool {
       color: aliceblue; 
}


/* Navbar */

.navbar-dark {
    background-color: #3c415c !important;
}

.navbar-light-dark {
    background-color: #494e6d !important;
}

.dropdown-menu {
    background-color: #d6d2d2;
}

.dropdown-item:hover {
    background-color: #f0eeee;
    color: #212529;
}

.dropdown-item:hover {
    background-color: #f0eeee;
}


/* Input */

input[type=number], input[type=text] {
    background-color: #d6d2d2;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
}


/* Rete */

#rete {
    width: 100hh;
    height: 100vh;
    background-color:rgb(42, 42, 42);
    cursor: default;
}


/* Node*/

.node {
    background-color: rgb(61, 64, 67) !important;
    border-width: 2px !important;
    border-color: rgb(58, 101, 158) !important;
    border-radius: 10px !important;
    cursor: grab !important;
}

.node:hover {
    opacity: 0.7;
}

.node:active {
    cursor: grabbing !important;
}

.node .title {
    background-color: rgb(58, 101, 158) !important;
    border-radius: 8px 8px 0px 0px !important;
}

.node.coordinate2d, .node.coordinate3d, .node.number, .node.string, .node.bool {
    border-color: rgb(48, 101, 63) !important;
}

.node.coordinate2d .title, .node.coordinate3d .title, .node.number .title, .node.string .title, .node.bool .title {
    background-color: rgb(48, 101, 63) !important;
}

.node.begin, .node.end {
    border-color: rgb(78, 79, 83) !important;
}

.node.begin .title, .node.end .title {
    background-color: rgb(78, 79, 83) !important;
}

.node.selected {
    border-color: rgb(183, 187, 0) !important;
}

.input-title {
    line-height: 18px !important;
}


/* Socket */

.socket.output {
    margin-right: -9px !important;
}
.socket.input {
    margin-left: -9px !important;
}

.socket {
    width: 18px !important;
    height: 18px !important;
    background-color: rgb(61, 64, 67) !important;
    border-color:rgb(58, 101, 158) !important;
    border-width: 3px !important;
}

.socket:hover {
    background-color: rgb(78, 79, 83) !important;
}

.socket.coord2d, .socket.coord3d, .socket.number, .socket.string, .socket.bool {
    border-color:rgb(48, 101, 63) !important;
}

.socket.void {
    width: 16px !important;
    height: 16px !important;
    border-radius: 0px !important;
    border-width: 2px !important;
    background-color: rgb(61, 64, 67) !important;
    border-color:rgb(58, 101, 158) !important;
}

.socket.void.output {
    margin-right: -8px !important;
}
.socket.void.input {
    margin-left: -8px !important;
}


/* Connection */

.connection .main-path {
    stroke-width: 3px !important;
    stroke: rgb(58, 101, 158) !important;
}

.connection.output-coord2d .main-path, .connection.output-coord3d .main-path, .connection.output-number .main-path, .connection.output-string .main-path, .connection.output-bool .main-path {
    stroke: rgb(48, 101, 63) !important;
}

.connection.output-void .main-path, .connection.output-true .main-path, .connection.output-false .main-path {
    stroke: rgb(58, 101, 158) !important;
}

.node-editor div :first-child {
    stroke: rgb(183, 187, 0) !important;
}


/* Sidebar */
.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 65px;
    height: calc(100vh - 56px);
    margin-top:56px;
    vertical-align: top;
    align-items: initial;
    padding: 0px;
}

.sidebar-sticky {
    width: 100%;
}

.sidebar-sticky a {
    margin-left: auto;
    margin-right: auto;
}


.sidebar-sticky ul:first-child {
    margin-top: 10px;
}

.sidebar-sticky hr {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height:2px;
    background-color: #3c415c;
    border-width: 0px;

    margin-top:4px;
    margin-bottom:10px;
}

.img-box {
    width: 40px;
    height: 40px;
    line-height:36px;

    background-color:#d6d2d2;
    border-radius: 20px;

    padding: 0px !important;
    margin-bottom:6px;

    text-align: center;
    vertical-align: middle;
}

.active-item {
    background-color: rgb(192, 220, 243);
}

.img-box:hover {
    background-color:#f0eeee;
}

.sidebar-sticky .nav-item a{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.ac_command_label {
    color: white;
}